/* font-family: 'Lato', sans-serif; 
font-family: 'Montserrat', sans-serif; 
font-family: 'Roboto', sans-serif;   */

body {
  background: rgb(195, 63, 34);
  background: linear-gradient(
    0deg,
    rgba(195, 63, 34, 1) 0%,
    rgba(84, 14, 53, 1) 42%
  );
  font-size: 14px;
}

h1 {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  text-align: center;
  color: ivory;
  text-decoration: underline;
  text-transform: uppercase;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.wrapper {
  margin: 20px 0;
  width: 100%;
}

.wrapper .card-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding-top: 2rem;
}

.card-wrap .card-item {
  width: 20%;
  margin-left: 20px;
  padding: 8px;
  background-color: lightgrey;
  box-shadow: inset 0px 3px 5px 0 #000, inset 0 2px 5px 0px #ccc,
    inset 0 4px 5px 0px #fff;
}

.card-wrap .card-inner {
  background: #fff;
}

.card-wrap .card-top {
  width: 100%;
  height: auto;
  padding: 0;
}

.card-wrap .card-bottom {
  padding: 15px;
}

.card-wrap .card-bottom .card-category {
  text-transform: uppercase;
  text-align: center;
}

.card-wrap .card-bottom .card-info {
  padding: 5px;
  margin: 10px 0;
  border: 1px dashed #0071bc;
}

.card-wrap .card-bottom .card-info .title {
  color: #0071bc;
  font-size: 18px;
  margin-bottom: 18px;
}

.card-wrap .card-bottom .card-info .card-creator {
  text-align: center;
}

ul li {
  list-style: none;
  padding: 5px;
  margin: 0 auto;
}
